$color-primary: #d83b1e;
$color-secundary: #523468;
$color-secundary-black: #422a53;
$color-secundary-clean: #c6bfd7;

.m-header {

  &-container {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 30px 15px;

    &--marca {


      .logo {
        text-align: center;

        &-titulo {
          font-family: 'Oswald', sans-serif;
          font-size: 32px;
          font-weight: normal;
          text-transform: uppercase;
          color: $color-primary;
        }

        &-subtitulo {
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-weight: normal;
          color: $color-secundary;
          text-align: center;
        }
      }
    }

    &--busca {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      input#campoBusca {
        margin: 0 auto;
        width: 100%;
        height: 40px;
        padding: 0 40px;
        font-size: 12px;
        border: 1px solid #000;
        outline: none;
        border-radius: 7px;
        font-family: 'Poppins', sans-serif;

        &:focus {
          border: 1px solid #000000;
          transition: 0.35s ease;
          color: #000000;

          &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
          }

          &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
          }

          &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
          }
        }
      }

      .search-icon {
        position: absolute;
        width: 20px;
        top: 12px;
        left: 12px;
      }
    }

    &--minicart {
      display: flex;
      align-items: center;
      justify-content: center;

      .free-shipping {
        font-family: "Poppins", sans-serif;
        color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-style: italic;
        margin-right: 40px;

        .info-1 {
          font-size: 24px;
        }

        .info-2 {
          font-size: 16px;
        }
      }

      .mini-bag {
        .texto-bag {
          font-family: "Poppis", sans-serif;
          color: #b3b3b3;
          text-transform: uppercase;
          font-size: 24px;
          margin-right: 5px;
        }

        .conta-item {
          font-family: "Poppis", sans-serif;
          color: $color-primary;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 24px;
          margin-right: 5px;
        }
      }
    }
  }

  &-menu {
    background-color: $color-secundary;
    padding: 20px 0px;
    width: 100%;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1366px;
      margin: 0 auto;

      .menu {
        display: flex;
        align-items: center;

        &-item {
          margin: 0px 5px;

          a {
            padding: 15px 20px;
            font-family: "Poppins", sans-serif;
            font-style: italic;
            transition: 0.3s;
            border-radius: 7px;
            text-decoration: none;
            color: #fff;
            display: block;

            &:hover {
              transition: 0.3s;
              background-color: $color-secundary-black;
            }
          }

          &.menu-item-30 {
            a {
              padding: 15px 20px;
              font-family: "Poppins", sans-serif;
              font-style: italic;
              transition: 0.3s;
              border-radius: 7px;
              text-decoration: none;
              color: #fff;
              display: block;
              background-color: $color-secundary-black;
            }
          }

        }
      }

      .login-area {
        &-texto {
          font-family: "Poppins", sans-serif;
          color: #fff;
          font-style: italic;

          span {
            color: $color-secundary-clean;
            margin: 0px 5px;
          }

        }
      }

    }
  }

  //Mobile Header
  @media screen and (max-width: 638px) {
    &-menu-hamburguer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      cursor: pointer;

      li {
        width: 35px;
        height: 5px;
        border-radius: 10px;
        margin: 2px 0px;
        background-color: #422a53;
      }
    }

    &-container {
      padding: 15px 10px;

      &--marca {
        .logo {
          &-titulo {
            font-size: 22px;
          }

          &-subtitulo {
            font-size: 12px;
          }
        }

      }

      &--minicart {
        .mini-bag {

          .texto-bag,
          .conta-item {
            font-size: 18px;
          }
        }

      }
    }

    &-menu {
      &.mobile-menu {
        position: fixed;
        left: -100%;
      }

      &-container {
        flex-direction: column;
        width: 100%;

        .menu {
          flex-direction: column;
        }
      }
    }
  }
}